Read config

In [1]:
import os
import pathlib
from dotenv import load_dotenv

load_dotenv(pathlib.Path(os.getcwd()) / "local.env", override=True)

endpoint = os.environ.get("dbendpoint")
username = os.environ.get("dbusername")
password = os.environ.get("dbpassword")
dbname = os.environ.get("dbname")

Connect to DB

In [9]:
import mysql.connector

# Create a MySQL dbconnection
dbconnection = mysql.connector.connect(
    host=endpoint,
    user=username,
    password=password,
    database=dbname
)

Show running processes

In [8]:
cursor = dbconnection.cursor()
cursor.execute("SHOW FULL PROCESSLIST")
result = cursor.fetchall()
# for r in result: print(r)


for r in result:
    if r[1] == "admin":
        print(r[0])
        cursor.execute("KILL {}".format(r[0]))

194
195
233

DatabaseError: 1317 (70100): Query execution was interrupted

Clear Tables

In [10]:
cursor = dbconnection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

print("existing: ", tables)

existing:  [('Cards',), ('CardsCatalog',), ('Messages',)]

In [ ]:
if tables.__len__() > 0:
    cursor = dbconnection.cursor()
    for table in tables:
        drop_cmd = "DROP TABLE {}".format(table[0])
        print(drop_cmd)
        cursor.execute(drop_cmd)

    cursor.close()

    dbconnection.commit()

cursor = dbconnection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print("updated tables: ", tables)

Create CardsCatalog table

In [10]:
tablename = "CardsCatalog"

cursor = dbconnection.cursor()
cursor.execute("""CREATE TABLE {} (cardkey varchar(256), 
               category varchar(256), 
               path varchar(256),
               backgroundColor varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [ ]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

Create Cards table

In [ ]:
cursor = dbconnection.cursor()
tablename = "Cards"
cursor.execute("""CREATE TABLE {} (id varchar(256),
               imageKey varchar(256), 
               imageCategory varchar(256), 
               imagePath varchar(256), 
               imageBackgroundColor varchar(256), 
               recipientName varchar(256), 
               recipientEmail varchar(256), 
               senderName varchar(256), 
               senderEmail varchar(256), 
               sendDate varchar(256), 
               sendTime varchar(256), 
               sendTimezone varchar(256), 
               createdDataTime varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [ ]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

Create Messages table

In [ ]:
cursor = dbconnection.cursor()
tablename = "Messages"
cursor.execute("""CREATE TABLE {} (id varchar(256),
               cardId varchar(256), 
               name varchar(256), 
               message varchar(256), 
               wordCount varchar(256), 
               createdDateTime varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [ ]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

End

In [ ]:
dbconnection.close()