Read config

In [70]:
import os
import pathlib
from dotenv import load_dotenv

load_dotenv(pathlib.Path(os.getcwd()) / "local.env", override=True)

endpoint = os.environ.get("dbendpoint")
username = os.environ.get("dbusername")
password = os.environ.get("dbpassword")
dbname = os.environ.get("dbname")

Connect to DB

In [71]:
import mysql.connector

# Create a MySQL dbconnection
dbconnection = mysql.connector.connect(
    host=endpoint,
    user=username,
    password=password,
    database=dbname
)

Show running processes

In [72]:
cursor = dbconnection.cursor()
cursor.execute("SHOW FULL PROCESSLIST")
result = cursor.fetchall()

In [ ]:
for r in result: print(r)

In [ ]:
# cursor = dbconnection.cursor()
# cursor.execute("KILL 3542")
# result = cursor.fetchall()

# dbconnection.commit()
# cursor.close()
# print(result)

Clear Tables

In [73]:
cursor = dbconnection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()

print("existing: ", tables)

existing:  [('Cards',), ('CardsCatalog',), ('Messages',)]

In [57]:
if tables.__len__() > 0:
    cursor = dbconnection.cursor()
    for table in tables:
        drop_cmd = "DROP TABLE {}".format(table[0])
        print(drop_cmd)
        cursor.execute(drop_cmd)

    cursor.close()

    dbconnection.commit()

cursor = dbconnection.cursor()
cursor.execute("SHOW TABLES")
tables = cursor.fetchall()
print("updated tables: ", tables)

updated tables:  []

Create CardsCatalog table

In [58]:
tablename = "CardsCatalog"

cursor = dbconnection.cursor()
cursor.execute("""CREATE TABLE {} (cardkey varchar(256), 
               category varchar(256), 
               path varchar(256),
               backgroundColor varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [59]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

('cardkey', 'varchar(256)', 'YES', '', None, '')
('category', 'varchar(256)', 'YES', '', None, '')
('path', 'varchar(256)', 'YES', '', None, '')
('backgroundColor', 'varchar(256)', 'YES', '', None, '')

Create Cards table

In [60]:
cursor = dbconnection.cursor()
tablename = "Cards"
cursor.execute("""CREATE TABLE {} (id varchar(256),
               imageKey varchar(256), 
               imageCategory varchar(256), 
               imagePath varchar(256), 
               imageBackgroundColor varchar(256), 
               recipientName varchar(256), 
               recipientEmail varchar(256), 
               senderName varchar(256), 
               senderEmail varchar(256), 
               sendDate varchar(256), 
               sendTime varchar(256), 
               sendTimezone varchar(256), 
               createdDataTime varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [61]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

('id', 'varchar(256)', 'YES', '', None, '')
('imageKey', 'varchar(256)', 'YES', '', None, '')
('imageCategory', 'varchar(256)', 'YES', '', None, '')
('imagePath', 'varchar(256)', 'YES', '', None, '')
('imageBackgroundColor', 'varchar(256)', 'YES', '', None, '')
('recipientName', 'varchar(256)', 'YES', '', None, '')
('recipientEmail', 'varchar(256)', 'YES', '', None, '')
('senderName', 'varchar(256)', 'YES', '', None, '')
('senderEmail', 'varchar(256)', 'YES', '', None, '')
('sendDate', 'varchar(256)', 'YES', '', None, '')
('sendTime', 'varchar(256)', 'YES', '', None, '')
('sendTimezone', 'varchar(256)', 'YES', '', None, '')
('createdDataTime', 'varchar(256)', 'YES', '', None, '')

Create Messages table

In [62]:
cursor = dbconnection.cursor()
tablename = "Messages"
cursor.execute("""CREATE TABLE {} (id varchar(256),
               cardId varchar(256), 
               name varchar(256), 
               message varchar(256), 
               wordCount varchar(256), 
               createdDateTime varchar(256))
               """.format(tablename))
result = cursor.fetchall()
cursor.close()
dbconnection.commit()

In [63]:
cursor = dbconnection.cursor()
cursor.execute("SHOW COLUMNS FROM {}".format(tablename))
result = cursor.fetchall()
cursor.close()
for r in result: print(r)

('id', 'varchar(256)', 'YES', '', None, '')
('cardId', 'varchar(256)', 'YES', '', None, '')
('name', 'varchar(256)', 'YES', '', None, '')
('message', 'varchar(256)', 'YES', '', None, '')
('wordCount', 'varchar(256)', 'YES', '', None, '')
('createdDateTime', 'varchar(256)', 'YES', '', None, '')

End

In [64]:
dbconnection.close()